.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lavender}

.page-title{
  margin-top: 10px;
  font-weight: 100;
  font-size: 24px;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.comparision-cards{
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.comparison-cards-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
}

.comparison-cards-container h3{
  font-weight: 300;
}

.compare-info-container{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.card-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(-10deg, blue, red);
  background-attachment: fixed;
  font-weight: 300;
  background-size: contain;
}


.average-compare{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  background-color: #000;
  color:#fff;
  font-weight: 300;
  border-radius: 10px;
  padding: 5px;
}

input, select{
  width:230px;
  height:35px;
  margin: 10px 0px;
}


@media (max-width: 550px)  {
  .comparison-cards-container{
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  .compare-info-container{
    flex-direction: column;
    align-items: center;
  }

}
