.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
}

.comparision-cards{
  width: 65%;
  display: flex;
  justify-content: space-around;
}


.comparison-cards-container {
  border: blue solid 2px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
}

.compare-info-container{
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.card-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aliceblue;
}
.average-compare{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 500px)  {
  .comparison-cards-container{
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  .compare-info-container{
    flex-direction: column;
    align-items: center;
  }

}
