.card{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 30px 20px 5px;
  align-items: flex-start;
  width:240px;
  padding:5px;
  background-color: rgba(245,285,302,.9);
}

.card h5{
  font-weight: 400;
  text-decoration: underline
}

.card li{
  list-style-type: none;
}

.card-data{
display: flex;
justify-content: space-between;
width: 80%;
}
