
.card{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 5px 5px 5px;
  align-items: flex-start;
  width:150px;
  padding: 5px 5px 20px 5px;
  background-color: rgba(245,285,160,.9);
}

.card h5{
  size:16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
  text-decoration: underline;
}

.card ul {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.card li{
  list-style-type: none;
  padding: 3px;
  color:#fff;
  width: 100%;
}

.card-data{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
